<%# <head>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
<head> %>
<body style="color:pink;">
<h1><%= @user.username.upcase %>'s Posts</h1>
<p><% @user.posts.each do |post|%>
    <ul><%= post.message %> --> <%= link_to post.group.name, group_path(post.group) %></ul>
    <%= button_to "Delete Post", post_path(post), method: :delete %>

    <%end%>
</p>
</body>