<div style="color:pink;">
<h2>POSTS</h2>
<p><%= @post.user.username.upcase%>:</p> 
    <p>"<%= @post.message %>"</p>
<div style="color:yellow; font-size:14px;" >
    <p>----->
    <%= link_to @post.group.name, group_path(@post.group) %>
    </p>
</div>

 <%= button_to "Log Out", logout_path, method: :delete%>
 </div>